@media screen and (max-width: 1024px) {
    .l-wrapper {
        grid-template-columns: 1fr 800px 1fr;
    }
    
    .logo {
        left: 15%;
    }
    
    .social-work-title::before,
    .social-work-titile::after{
        width: 30%;
    }
}

@media screen and (max-width: 990px) {
    body {
        font-size: 14px;
    }
    
    .logo {
        left: 10%;
    }
    
    .l-wrapper {
        grid-template-columns: 1fr;
    }
    
    .nav-box .flex-item a {
        padding: 18px 30px 18px 30px;
    }
    
    .service-guide {
        padding-left: 10%;
    }
    
    .social-work-title::before,
    .social-work-title::after {
        width: 20%;
    }
    
    .social-work {
        margin-left: 15px;
        margin-right: 15px;
        justify-content: space-between;
        grid-column-gap: 5%;
        grid-row-gap: 5%;
        
    }
}

@media screen and (max-width: 768px) {
    .nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .service-guide a {
        left: 30px;
    }
    
    .service-guide .click {
        right: 20px;
    }
}

@media screen and (max-width: 580px) {
    .office-info .flex-item {
        width: 80%;
    }
    .office-info > .flex-item + .flex-item {
        margin-top: 50px;
    }
}