@media screen and (max-width: 1024px) {
    .l-wrapper {
        grid-template-columns: 1fr 800px 1fr;
    }
    .service-guide a {
        font-size: 26px;
    }
    .service-guide span {
        right: 10px;
    }
}

@media screen and (max-width: 990px) {
    .l-wrapper {
        grid-template-columns: 1fr;
    }
    .social-work {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 580px) {}